@import "compass/reset";
@import "compass/css3";

@mixin font_style($color, $weight, $size) {
    color: $color;
    font-weight: $weight;
    font-size: $size; 
}

body {
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  background-repeat: no-repeat;
}

.people_list { 
      ul {
        top: -75px;
        position: relative;
        width: 80%;
      li {
        background-color: white;
        @include box-sizing(border-box);
        float: left;
        position: relative;
        width: 25%;
        height: 150px;
        border-top: 1px solid gainsboro;
        border-left: 1px solid gainsboro;
        border-bottom: 1px solid gainsboro;
        &:first-child {
          @include border-radius(5px 0 0 5px);
        }
        &:last-child {
          @include border-radius(0 5px 5px 0);
          border-right: 1px solid gainsboro;
        }
        h4 {
          margin-top: 40px;
          font-size: 1.5em;
          font-weight: bold;
        }
        span {
          display: block;
          margin-top: 20px;
        }
      }
    }     
  }

.header{
  background-image: url(/img/back.jpg);
  background-size: cover;
  header { 
    margin: 30px 0px 0 1088px;
    button {
      margin-left: 20px;
      border: 1px solid white;
      width: 75px;
      height: 40px;
      background-color: transparent;
      @include border-radius(5px);
      @extend .com_box_style;
    }
    a ~ a {
      margin-left: 10px;
    }
  }

  .agent_search {
    padding-bottom: 300px;
    .l_text {
      @extend .com_font_style;
      margin: 266px auto 0;
      @include font_style(white, bold, 20px);
    }
    .s_text{
      @extend .com_font_style;
      @include font_style(gray, 400, 10px);
    }

    .search_suburb {
      text-align: center;
      margin: 15px auto 0;
      .search_bar , .search_button{
        @extend .com_box_style;
        border: 0 solid gray;
      }
      .search_bar {
        width: 40%;
        height: 40px;
        background-color: rgba(255,255,255,0.5);
      }
      .search_button {
        width: 8%;
        height: 44px;
        background-color: lightgreen;
      }
    }

  }
}

.how_it_works {
  margin-top: 100px;
  width: 100%;
  position:relative;
  .title {
    width: 100%;
    p {
      width: 20%;
      text-transform:uppercase;
      @include font_style(gray, 800, 14px);
    }
    div {
      width: 3%;
      height: 3px;
      background-color: gainsboro;
      @include box-sizing(border-box);
      border-top: 1px solid gainsboro;
      margin-top: 5px;
      margin-bottom: 20px;
    }
  }
  ul {
    margin-top: 30px;
    &::before {
      content:"";
      position:absolute;
      left:0;
      right:0;
      top:139px;
      border-top:1px solid #ccc;
      width: 70%;
      @extend  .center;
    }
    li {
      width: 33%;
      float: left;
      position: relative;
      .number {
        border: 1px solid gainsboro;
        border-radius: 100%;
        width: 60px;
        height: 60px;
        background-color: #fff;
      }
    }
  }
}

.com_font_style {
  text-align: center;
}

.com_box_style {
    text-shadow: none;
    box-shadow: none;
}
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
