/* line 5, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
body {
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  background-repeat: no-repeat;
}

/* line 11, ../sass/style.scss */
.people_list ul {
  top: -75px;
  position: relative;
  width: 80%;
}
/* line 15, ../sass/style.scss */
.people_list ul li {
  background-color: white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  position: relative;
  width: 25%;
  height: 150px;
  border-top: 1px solid gainsboro;
  border-left: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}
/* line 25, ../sass/style.scss */
.people_list ul li:first-child {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 0 0 5px;
}
/* line 28, ../sass/style.scss */
.people_list ul li:last-child {
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0;
  border-radius: 0 5px 5px 0;
  border-right: 1px solid gainsboro;
}
/* line 32, ../sass/style.scss */
.people_list ul li h4 {
  margin-top: 40px;
  font-size: 1.5em;
  font-weight: bold;
}
/* line 37, ../sass/style.scss */
.people_list ul li span {
  display: block;
  margin-top: 20px;
}

/* line 45, ../sass/style.scss */
.header {
  background-image: url(/img/back.jpg);
  background-size: cover;
}
/* line 48, ../sass/style.scss */
.header header {
  margin: 30px 0px 0 1088px;
}
/* line 50, ../sass/style.scss */
.header header button {
  margin-left: 20px;
  border: 1px solid white;
  width: 75px;
  height: 40px;
  background-color: transparent;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 59, ../sass/style.scss */
.header header a ~ a {
  margin-left: 10px;
}
/* line 64, ../sass/style.scss */
.header .agent_search {
  padding-bottom: 300px;
}
/* line 66, ../sass/style.scss */
.header .agent_search .l_text {
  color: white;
  margin: 266px auto 0;
  font-size: larger;
  font-weight: bold;
}
/* line 73, ../sass/style.scss */
.header .agent_search .s_text {
  font-size: smaller;
  margin-top: 8px;
  color: gray;
}
/* line 80, ../sass/style.scss */
.header .agent_search .search_suburb {
  text-align: center;
  margin: 15px auto 0;
}
/* line 83, ../sass/style.scss */
.header .agent_search .search_suburb .search_bar, .header .agent_search .search_suburb .search_button {
  border: 0 solid gray;
}
/* line 87, ../sass/style.scss */
.header .agent_search .search_suburb .search_bar {
  width: 40%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 92, ../sass/style.scss */
.header .agent_search .search_suburb .search_button {
  width: 8%;
  height: 44px;
  background-color: lightgreen;
}

/* line 104, ../sass/style.scss */
.com_font_style, .header .agent_search .l_text, .header .agent_search .s_text {
  text-align: center;
}

/* line 108, ../sass/style.scss */
.com_box_style, .header header button, .header .agent_search .search_suburb .search_bar, .header .agent_search .search_suburb .search_button {
  text-shadow: none;
  box-shadow: none;
}

/* line 112, ../sass/style.scss */
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
