@charset "UTF-8";
/* line 5, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/style.scss */
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 13, ../sass/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 18, ../sass/style.scss */
.clearfix:after {
  clear: both;
}

/* line 47, ../sass/style.scss */
.underline {
  height: 2px;
  background-color: gainsboro;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid gainsboro;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* line 55, ../sass/style.scss */
.block, .how_it_works, .why_us, .trd_part {
  margin-top: 100px;
  width: 100%;
  height: 450px;
  position: relative;
  border-bottom: 1px solid gainsboro;
}

/* line 62, ../sass/style.scss */
.dividing_line, .how_it_works ul::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 149px;
  border-top: 1px solid #ccc;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 77, ../sass/style.scss */
.h3_w, .how_it_works ul li h3, .why_us ul li .big_content {
  margin-top: 20px;
  color: #3c404d;
  font-weight: 800;
  font-size: 1.2em;
}

/* line 81, ../sass/style.scss */
.sl_p, .how_it_works ul li p, .why_us ul li p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 40%;
  color: gray;
  font-weight: 300;
  font-size: 1em;
}

/* line 86, ../sass/style.scss */
.search-group {
  height: 50px;
  width: 600px;
  position: relative;
}
/* line 90, ../sass/style.scss */
.search-group input {
  height: 100%;
  border: none;
  line-height: 1em;
  vertical-align: middle;
  padding: 0 15px;
}
/* line 97, ../sass/style.scss */
.search-group input[type='text'] {
  position: absolute;
  left: 0;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.25);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px 0 0 3px;
}
/* line 61, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.search-group input[type='text']:-moz-placeholder {
  font-size: 1.1em;
  color: white;
}
/* line 64, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.search-group input[type='text']::-moz-placeholder {
  font-size: 1.1em;
  color: white;
}
/* line 67, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.search-group input[type='text']:-ms-input-placeholder {
  font-size: 1.1em;
  color: white;
}
/* line 56, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.search-group input[type='text']::-webkit-input-placeholder {
  font-size: 1.1em;
  color: white;
}
/* line 109, ../sass/style.scss */
.search-group input[type='button'] {
  position: absolute;
  right: 0;
  width: 20%;
  color: #ffffff;
  font-size: 1.1em;
  background-color: #90dba9;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0;
  border-radius: 0 3px 3px 0;
}

/* line 121, ../sass/style.scss */
body {
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  background-repeat: no-repeat;
}

/* line 127, ../sass/style.scss */
.people_list ul {
  top: -75px;
  position: relative;
  width: 80%;
}
/* line 131, ../sass/style.scss */
.people_list ul li {
  background-color: white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  position: relative;
  width: 25%;
  height: 150px;
  border-top: 1px solid gainsboro;
  border-left: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}
/* line 141, ../sass/style.scss */
.people_list ul li:first-child {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 0 0 5px;
}
/* line 144, ../sass/style.scss */
.people_list ul li:last-child {
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0;
  border-radius: 0 5px 5px 0;
  border-right: 1px solid gainsboro;
}
/* line 148, ../sass/style.scss */
.people_list ul li h4 {
  margin-top: 40px;
  font-size: 1.5em;
  font-weight: bold;
}
/* line 153, ../sass/style.scss */
.people_list ul li span {
  display: block;
  margin-top: 20px;
}

/* line 161, ../sass/style.scss */
.header {
  background-image: url(../img/back.jpg);
  background-size: cover;
}
/* line 164, ../sass/style.scss */
.header header {
  padding: 20px 0 0 80%;
  color: white;
  font-weight: 200;
  font-size: 1em;
}
/* line 168, ../sass/style.scss */
.header header button {
  margin-left: 20px;
  border: 1px solid white;
  width: 75px;
  height: 40px;
  background-color: transparent;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: white;
  font-weight: 200;
  font-size: 1em;
}
/* line 179, ../sass/style.scss */
.header header a ~ a {
  margin-left: 10px;
}
/* line 184, ../sass/style.scss */
.header .agent_search {
  padding-bottom: 300px;
}
/* line 186, ../sass/style.scss */
.header .agent_search .l_text {
  margin: 266px auto 0;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
/* line 191, ../sass/style.scss */
.header .agent_search .s_text {
  color: khaki;
  font-weight: 400;
  font-size: 1.1em;
}

/* line 201, ../sass/style.scss */
.how_it_works .title {
  width: 100%;
}
/* line 32, ../sass/style.scss */
.how_it_works .title p {
  width: 20%;
  text-transform: uppercase;
  color: gray;
  font-weight: 800;
  font-size: 14px;
}
/* line 37, ../sass/style.scss */
.how_it_works .title div {
  width: 3%;
  height: 3px;
  background-color: gainsboro;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid gainsboro;
  margin-top: 5px;
  margin-bottom: 20px;
}
/* line 204, ../sass/style.scss */
.how_it_works ul {
  margin-top: 50px;
}
/* line 209, ../sass/style.scss */
.how_it_works ul li {
  width: 33%;
  float: left;
  position: relative;
}
/* line 211, ../sass/style.scss */
.how_it_works ul li .item {
  border: 1px solid gainsboro;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  background-color: #fff;
}
/* line 217, ../sass/style.scss */
.how_it_works ul li .item p {
  margin-top: 10px;
  color: gray;
  font-weight: 800;
  font-size: 18px;
}
/* line 223, ../sass/style.scss */
.how_it_works ul li .icon-vcard, .how_it_works ul li .icon-pencil, .how_it_works ul li .icon-users {
  margin-top: 40px;
}
/* line 226, ../sass/style.scss */
.how_it_works ul li .icon-vcard {
  color: #EAA861;
  font-weight: 800;
  font-size: 4em;
}
/* line 229, ../sass/style.scss */
.how_it_works ul li .icon-pencil {
  color: #ad9dd3;
  font-weight: 800;
  font-size: 4em;
}
/* line 232, ../sass/style.scss */
.how_it_works ul li .icon-users {
  color: #4d99cb;
  font-weight: 800;
  font-size: 4em;
}

/* line 245, ../sass/style.scss */
.why_us {
  height: 600px;
}
/* line 248, ../sass/style.scss */
.why_us .title {
  width: 100%;
}
/* line 32, ../sass/style.scss */
.why_us .title p {
  width: 20%;
  text-transform: uppercase;
  color: gray;
  font-weight: 800;
  font-size: 14px;
}
/* line 37, ../sass/style.scss */
.why_us .title div {
  width: 3%;
  height: 3px;
  background-color: gainsboro;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid gainsboro;
  margin-top: 5px;
  margin-bottom: 20px;
}
/* line 251, ../sass/style.scss */
.why_us ul {
  margin-top: 30px;
}
/* line 253, ../sass/style.scss */
.why_us ul li {
  width: 50%;
  float: left;
  position: relative;
  margin-top: 30px;
}
/* line 256, ../sass/style.scss */
.why_us ul li .icon {
  float: left;
  position: absolute;
  margin-top: 24px;
  margin-left: 138px;
}
/* line 262, ../sass/style.scss */
.why_us ul li .icon-checkmark {
  color: #78be93;
  font-weight: 800;
  font-size: 2em;
}
/* line 265, ../sass/style.scss */
.why_us ul li .icon-tag {
  color: #01b4ea;
  font-weight: 800;
  font-size: 2em;
}
/* line 268, ../sass/style.scss */
.why_us ul li .icon-loop {
  color: #eca95a;
  font-weight: 800;
  font-size: 2em;
}
/* line 271, ../sass/style.scss */
.why_us ul li .icon-thumbsup {
  color: #ed7f5b;
  font-weight: 800;
  font-size: 2em;
}
/* line 274, ../sass/style.scss */
.why_us ul li .icon-user {
  color: #ad9dd3;
  font-weight: 800;
  font-size: 2em;
}
/* line 277, ../sass/style.scss */
.why_us ul li .icon-clipboard {
  color: #f16d7e;
  font-weight: 800;
  font-size: 2em;
}
/* line 280, ../sass/style.scss */
.why_us ul li .big_content {
  width: 40%;
  text-align: left;
}
/* line 285, ../sass/style.scss */
.why_us ul li p {
  text-align: left;
}

/* line 295, ../sass/style.scss */
.trd_part .testimonials, .trd_part .feedback {
  border: 1px solid #60677a;
  width: 150px;
  height: 50px;
}
/* line 301, ../sass/style.scss */
.trd_part .testimonials {
  background-color: #60677a;
  color: white;
  font-weight: 400;
  font-size: 1em;
}
/* line 306, ../sass/style.scss */
.trd_part .feedback {
  background-color: white;
  color: #60677a;
  font-weight: 400;
  font-size: 1em;
}
/* line 310, ../sass/style.scss */
.trd_part p {
  margin-top: 50px;
  width: 80%;
  color: #60677a;
  font-weight: 400;
  font-size: 1.2em;
}
/* line 314, ../sass/style.scss */
.trd_part p::before {
  content: "“";
  text-align: center;
  display: block;
  line-height: 1em;
  color: gainsboro;
  font-weight: 800;
  font-size: 2.5em;
}
/* line 322, ../sass/style.scss */
.trd_part .menbers {
  width: 40%;
  margin-top: 2em;
}
/* line 326, ../sass/style.scss */
.trd_part .menbers li {
  width: 33.3333%;
  float: left;
  position: relative;
}
/* line 328, ../sass/style.scss */
.trd_part .menbers li .underline {
  width: 20px;
}
/* line 331, ../sass/style.scss */
.trd_part .menbers li .toggle {
  visibility: hidden;
}
/* line 334, ../sass/style.scss */
.trd_part .menbers li .face-box {
  margin-top: 1em;
  border: 1px solid #ccc;
  padding: 3px;
  height: 80px;
  width: 80px;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  border-radius: 80px;
}
/* line 342, ../sass/style.scss */
.trd_part .menbers li .face {
  height: 80px;
  width: 80px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  border-radius: 80px;
}
/* line 348, ../sass/style.scss */
.trd_part .menbers li .left_face {
  background-image: url(../img/lufu_wanted.jpeg);
  background-size: cover;
}
/* line 352, ../sass/style.scss */
.trd_part .menbers li .mid_face {
  background-image: url(../img/tong.jpg);
  background-position: center;
  background-size: cover;
}
/* line 357, ../sass/style.scss */
.trd_part .menbers li .right_face {
  background-image: url(../img/zoro.jpg);
  background-size: cover;
}
/* line 362, ../sass/style.scss */
.trd_part .menbers li:hover .toggle {
  visibility: visible;
}
/* line 365, ../sass/style.scss */
.trd_part .menbers li:hover .face {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

/* line 373, ../sass/style.scss */
.find-agent {
  padding: 80px 0;
  background-image: url(../img/back.jpg);
  background-size: cover;
  background-position: bottom;
  text-align: center;
  height: 180px;
}
/* line 380, ../sass/style.scss */
.find-agent > div {
  width: 80%;
}
/* line 383, ../sass/style.scss */
.find-agent label {
  display: block;
  height: 50px;
  float: left;
  width: 30%;
  text-align: right;
  padding-right: 30px;
  padding-top: 70px;
  color: #fff;
  font-size: 2em;
  vertical-align: middle;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 396, ../sass/style.scss */
.find-agent .search-group {
  padding-top: 60px;
  float: left;
  margin-top: 0;
  width: 70%;
  text-align: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 403, ../sass/style.scss */
.find-agent .search-group input[type='text'] {
  background-color: white;
}
/* line 61, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.find-agent .search-group input[type='text']:-moz-placeholder {
  font-size: 1.1em;
  color: #52586a;
}
/* line 64, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.find-agent .search-group input[type='text']::-moz-placeholder {
  font-size: 1.1em;
  color: #52586a;
}
/* line 67, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.find-agent .search-group input[type='text']:-ms-input-placeholder {
  font-size: 1.1em;
  color: #52586a;
}
/* line 56, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.find-agent .search-group input[type='text']::-webkit-input-placeholder {
  font-size: 1.1em;
  color: #52586a;
}

/* line 412, ../sass/style.scss */
.footer {
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0;
  border-radius: 0 5px 5px 0;
  padding: 1.5em 0;
  width: 80%;
}
/* line 416, ../sass/style.scss */
.footer .concat {
  float: left;
}
/* line 419, ../sass/style.scss */
.footer .icons {
  float: right;
}
/* line 422, ../sass/style.scss */
.footer .icon-twitter {
  color: #01b4ea;
  font-weight: 400;
  font-size: 1.2em;
}
/* line 425, ../sass/style.scss */
.footer .icon-facebook {
  color: #01b4ea;
  font-weight: 400;
  font-size: 1.2em;
}
/* line 428, ../sass/style.scss */
.footer li {
  float: left;
  padding: 0 10px;
}
/* line 432, ../sass/style.scss */
.footer a {
  text-decoration: none;
}
/* line 434, ../sass/style.scss */
.footer a:hover {
  text-decoration: underline;
}

/* line 440, ../sass/style.scss */
.com_font_style, .header .agent_search .l_text, .header .agent_search .s_text {
  text-align: center;
}

/* line 444, ../sass/style.scss */
.com_box_style, .header header button, .trd_part .testimonials, .trd_part .feedback {
  text-shadow: none;
  box-shadow: none;
}
